@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>This is the production version of the app</h2>
    <h3>V1</h3>
    <h4>
        Connection String: @ViewBag.ConnectionString
    </h4>
</div>
